<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-indicator">
                    
                        
                        <div class="col-sm-8" style="margin-top: 2rem;">
                            <h4 class="title title-summary">KPI Online </h4>
                            <p class="category">{{this.dateKpi}}</p>
                        </div>
                        <div class="col-sm-4"></div>
                    
                    <div class="col-sm-1"></div>    
                        <div class="col-sm-5">
                            <div class="header">
                                <h4 class="title"> Real </h4>
                                <div class="div-indicator " [ngClass]="{redindicator:(this.realKpiOnline<estimatedKpiOnline-5),greenindicator:(this.realKpiOnline>=estimatedKpiOnline)}"><p class="num">{{this.realKpiOnline}}</p></div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="header">
                                <h4 class="title"> Estimado</h4>
                                <div class="div-indicator" style="background-color: #277A3E; border-color: #277A3E;"><p class="num">{{this.estimatedKpiOnline}}</p></div>
                            </div>
                        </div>
                    <div class="col-sm-1"></div>    
                </div>
            </div>
            
           <div class="col-md-4">
                <div class="card card-indicator">
                    <div class="col-sm-9" style="margin-top: 2rem;">
                        <h4 class="title title-summary">KPI Batch Core </h4>
                        <p class="category">{{this.dateKpi}}</p>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1"></div>    
                        <div class="col-sm-5">
                            <div class="header">
                                <h4 class="title"> Real </h4>
                                <div class="div-indicator" [ngClass]="{redindicator:(this.realKpiBatch<estimatedKpiBatch-5),greenindicator:(this.realKpiBatch>=estimatedKpiBatch)}"><p class="num">{{this.realKpiBatch}}</p></div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="header">
                                <h4 class="title"> Estimado</h4>
                                <div class="div-indicator" style="background-color: #277A3E; border-color: #277A3E;"><p class="num">{{this.estimatedKpiBatch}}</p></div>
                            </div>
                        </div>
                    <div class="col-sm-1"></div>    
                </div>
             </div>
       
           

        <div class="col-md-4">
            <div class="card card-indicator">
                <div class="col-sm-9" style="margin-top: 2rem;">
                    <h4 class="title title-summary">KPI Batch Global </h4>
                    <p class="category">{{this.dateKpi}}</p>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-1"></div>    
                    <div class="col-sm-5">
                        <div class="header">
                            <h4 class="title"> Real </h4>
                            <div class="div-indicator" [ngClass]="{redindicator:(this.realKpiGlobal<estimatedKpiGlobal-5),greenindicator:(this.realKpiGlobal>=estimatedKpiGlobal)}" ><p class="num">{{this.realKpiGlobal}}</p></div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="header">
                            <h4 class="title"> Estimado</h4>
                            <div class="div-indicator" style="background-color: #277A3E; border-color: #277A3E;"><p class="num">{{this.estimatedKpiGlobal}}</p></div>
                        </div>
                    </div>
                <div class="col-sm-1"></div>    
            </div>
          </div>
       
            <div class="col-md-4">
                <div class="card" style="padding-top:2.2%">
                    <div class="header">
                        <h4 class="title">KPI Online</h4>
                        <p class="category">Ultimos 7 días</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableKpiOnline.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableKpiOnline.dataRows">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                    </tr>
                                </tbody>
                        </table>

                    </div>
                </div>
           </div>
           <div class="col-md-4">
                <div class="card" style="padding-top:2.2%">
                    <div class="header">
                        <h4 class="title">KPI Batch Core</h4>
                        <p class="category">Ultimos 7 días</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableKpiCore.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableKpiCore.dataRows">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                    </tr>
                                </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="padding-top:2.2%">
                    <div class="header">
                        <h4 class="title">KPI Batch Global</h4>
                        <p class="category">Ultimos 7 días</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableKpiGlobal.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableKpiGlobal.dataRows">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                    </tr>
                                </tbody>
                        </table>

                    </div>
                </div>
            </div>
      
    </div>
</div>
