<div class="sidebar" data-color="blue" data-image="" style="background-image: url('assets/img/loginImage.jpg') ;">
    <div class="container">
        <div class="row">
            <div id="title" style="margin-top: 20%;">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img class="logoLetters" src="assets/img/whiteBBVA.png"/>
                    <h4 class="h-login">LRA COLOMBIA | KPI MANAGMENT</h4>
                    <a class="btn btn-google btn-user btn-block loginGoogle" style="position: absolute; z-index: 99;">
                        <i class="fa-google"></i> Login with Google
                    </a>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!--<form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>-->
        </div>
    </div>
</div>