.card-indicator{
    height:25rem;
}

.btn-primary{
    padding: 6px 36px 6px 20px;
    background-color:blue;
    color: white;
    font-size: xxx-large;
}

.btn{
    margin-top: 15%;
    opacity: 1;
}